.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.summary-container {
  margin-bottom: 20px;
}

.summary-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.summary-container ul {
  list-style-type: none;
  padding: 0;
}

.summary-container ul li {
  margin-bottom: 5px;
}

.summary-container ul li button {
  margin-left: 5px;
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.summary-container ul li button:hover {
  background-color: #0056b3;
}
